<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div>
    <h1>Create User</h1>
    <form action="">
        <input type="text" placeholder="name">
        <input type="text" placeholder="email">
        <input type="text" placeholder="imageurl">
        <input type="submit" placeholder="Create User">

    </form>
  </div>
</body>
</html>